.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    /* width: 100%; */
    min-width: 600px;
    margin: 0 auto;
    height: 40;
    max-height: 70vh;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup-main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0 0;
}

.popup-footer .cancel-btn {
    border: solid 1px #ddd;
    padding: 8px;
    min-width: 90px;
    border-radius: 2px;
    color: #000;
    margin-right: 15px;
}

.popup-footer .save-btn {
    background-color: #1890FF;
    padding: 9px;
    color: #fff;
    min-width: 90px;
    border-radius: 2px;
}
.popup-body {
    margin-bottom: 20px;
}
.popup-header {
    padding-bottom: 15px;
}
.popup-body > hr {
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
}