
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.section-inner{
    padding-left: 20px;
    padding-right: 20px;
}
.header-section-main {
    background-color: #fff;
    text-align: right;
    padding: 13px 20px;
    border-bottom: solid 1px #BFBFBF;
}
.main-section {
    padding-bottom: 20px;
    background-color: #E5E5E5;
}
.title-main h1 {
    font-size: 24px;
    line-height: 35px;
    color: #000;
    font-weight: 500;
}
.title-main p {
    font-size: 12px;
    color: #8C8C8C;
    font-weight: 500;
    line-height: 20px;
}
.title-main {
    padding: 20px 0;
}
.dashboard-box .box-title {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
.dashboard-box .box-valu {
    font-size: 40px;
    font-weight: 500;
    color: #000;
}
.custom-pagination ul {
    justify-content: center;
    padding: 15px 0;
    border-top: solid 1px #ddd;
}
.table-top-filter {
    padding: 20px 0;
}
.filter-left h2 {
    font-size: 20px;
    color: #000;
    line-height: 28px;
}
.filter-left .items-stretch {
    max-width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.filter-left .items-stretch .search-input {
    width: 100%;
    border: solid 1px #D9D9D9;
    color: #000;
    height: 40px;
}
.filter-left .items-stretch .search-input::placeholder {
    color: #D9D9D9;
}
.filter-left .items-stretch .search-icon {
    position: absolute;
    right: 0;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: center;
    border-left: solid 1px #D9D9D9;
    cursor: pointer;
}
.filter-left .items-stretch .search-icon i{
    color: #D9D9D9;
}
.filter-left .left-status lable {
    font-size: 14px;
    margin-right: 15px;
    font-weight: 400;
    color: #000;
}
.table-top-filter select {
    border: solid 1px #D9D9D9;
    color: #000;
}
.right-filter .export-button {
    text-align: right;
    margin-bottom: 20px;
}
.right-filter .export-button button {
    background-color: #1890FF;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 15px;
}
.right-filter .view-and-sort-by-main {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
}
.right-filter .view-and-sort-by-main .view-main {
    margin-right: 20px;
}
.custom-date-picker label,
.right-filter .view-and-sort-by-main .sort-main lable,
.right-filter .view-and-sort-by-main .view-main lable {
    font-size: 14px;
    margin-right: 15px;
    font-weight: 400;
    color: #000;
}
.custom-date-picker .dialog-date-picker {
    right: 0;
    left: inherit !important;
}
.custom-pagination ul li {
    margin: 0 3px;
}
.all-status-main {
    display: grid;
    grid-template-columns: 25% 42% 29%;
    grid-column-gap: 2%;
}
.all-status-main .left-status select {
    font-size: 14px;
}
.breadcrum h1 {
    color: rgba(0, 0, 0, 0.45);
}
.breadcrum h1 span {
    color: #000;
}
.application-info-box {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 20px;
}
.application-info-box h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 500;
}
.application-info-box ul li {
    border-top: solid 1px #B8B8B8;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.application-info-box ul li span {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.application-info-box ul li .btn {
    color: #1890FF;
    text-decoration: underline;
    font-weight: 500;
}
.application-info-box ul li .approve-btn {
    background-color: #1890FF;
    color: #fff;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 2px;
}
.application-info-box ul li .remove-btn {
    background-color: red;
    color: #fff;
    padding: 2px 10px;
    border-radius: 2px;
}
.activity-details-custom-btn {
    display: flex;
    justify-content: space-between;
}

.border-bottom {
    border-bottom: solid 1px #b8b8b8;
    margin-bottom: 15px;
}
.border-bottom a {
    padding-bottom: 22px;
}
.spinner-loader img {
    max-width: 100px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
}
.spinner-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0000008f;
}